h1 {
  color: black;
  font-size: 48px;
  margin-top: 0px;
}
body {
  font-size: 18;
  font-family: Georgia;
}
article {
  padding: 5px 5px;
}
img {
  max-width: 100%;
  position: relative; z-index: -1;
}
figure {
  margin: 5px 20px;
}
.dateline {
  color: brown!important;
  font-style: italic;
}
.byline {
  font-style: italic;
  color: darkgray;
}
figcaption {
  font-style: italic;
  color: darkgray;
}
.header {
  align: left;
  color: white;
  background-color: darkgray;
  width: 100%;
  height: 60px;
  text-indent: 12px;
  position: absolute;
}
.icon {
  padding-top: 6px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 50px;
}
.readmore {
  color: blue;
}
