h1 {
  color: black;
  font-size: 26px!important;
  margin-top: 0px;
  letter-spacing: 0px;
  font-family: helvetica!important;
}
body {
  font-size: 18;
  font-family: Georgia!important;
  line-height: 25px!important;
  padding: 25px 10px!important;
}
article {
  padding: 10px 0px;
}
img {
  max-width: 95%;
}
figure {
  margin: 10px 20px;
}
.byline {
  font-weight: lighter!important;
  color: darkgray;
  font-family: helvetica!important;
}
figcaption {
  font-style: italic;
  color: darkgray;
  font-family: helvetica!important;
}
.related {
  color: blue!important;
  top: -40px;
}
.link {
  color: blue;
}
.name {
  color: black!important;
}
.deck {
  font-family: helvetica!important;
}
