h1 {
  color: black;
  font-size: 24.5px;
  margin-top: 0px;
  letter-spacing: 0px;
  font-family: helvetica;
}
body {
  font-size: 15px;
  font-family: Georgia;
  line-height: 25px;
  padding: 25px 10px;
}
article {
  padding: 10px 0px;
}
img {
  max-width: 100%;
}
figure {
  margin: 40px 0px;
}
.byline {
  font-weight: lighter;
  color: darkgray;
  font-family: helvetica;
  font-size: 14px;
}
figcaption {
  font-style: italic;
  color: darkgray;
  font-family: helvetica;
}
.link {
  color: blue;
}
.name {
  color: black;
}
